*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* header and banner and text style */
.header{
    background-image: url('images/banner/banner3.png');
    background-size: 100% 100%;
    /* padding: 100px; */
    margin-bottom: 131px;
    
}
.banner-info{
    padding-left: 55%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%; 
}
.banner-title{
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    max-width: 525px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    max-width: 494px;
    
}
.btn-info{
    padding-left: 81%;
    max-width: 160px;
    
}
.btn-info span{
    color: #005FAC;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
main{
    max-width: 1072px;
    margin: 0px auto;
}

/* failure section style */
.failure-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.failure-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    max-width: 300px;
    margin-bottom: 20px;

}
.failure-description p{
    font-size: 16px;
    font-weight: 400;
    color: #696565;
}

.fail-info{
    display: flex;
}
.fa-check{
    color: green;
    margin-right: 15px;
}